<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="card mt-3">
  <div class="card-header">
   <b> {{ title }} </b>
  </div>
  <div class="card-body">
    <i class="card-text">posted by {{ user.name }} on {{format_date post.date_created}}</i>
    <p></p>
    <p class="card-text">{{ body }}</p>
    
  </div>
</div>
{{/each}}
