<div class="row">
  <div class="col-md-6 text-black bg-light">
    <div class="card mt-3">
        <form class="form login-form">
            <div class="card-header"><b>login</b></div>
            <div class="form-group">
    {{!-- <label for="email-login">Email address</label> --}}
            <input type="email" class="form-control" id="email-login" placeholder="email">
    
    </div>
    
    <div class="form-group">
    {{!-- <label for="exampleInputPassword1">Password</label> --}}
    <input type="password" class="form-control" id="password-login" placeholder="password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">go</button>
    </div>
  </div>
</div>
</form>

    {{!-- <div class="row"> --}}
<div class="col-md-6 text-black bg-light">
    <div class="card mt-3">
        <form class="form signup-form">
            <div class="card-header"><b>signup</b></div>
            <div class="form-group">
                <input type="text" class="form-control" id="signup-login" placeholder="name">
            </div>
            <div class="form-group">
                {{!-- <label for="email-login">Email address</label> --}}
                <input type="email" class="form-control" id="email-signup" placeholder="email">
            </div>
    <div class="form-group">
        {{!-- <label for="exampleInputPassword1">Password</label> --}}
        <input type="password" class="form-control" id="signup-password" placeholder="password">
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">go</button>
    </div>
    </div>
  </div>
</div>
</form>
<script src="./js/login.js"></script>
